{% extends "kgc/base.html" %}
{% block content %}
{% load static %}
    <!-- slider section -->
    <section class="slider">
        <ul class="slides">
        
        <li>
            <img src="{% static 'kgc/img/b19.jpg' %}" />
            
        </li>
        <li>
            <img src="{% static 'kgc/img/b20.jpg' %}" />
            
            </li>
        <li>
            <img src="{% static 'kgc/img/img3.jpg' %}" />
            
            </li>
        </ul>
    </section>
    <section class="section section-gallery scrollspy" id="gallery">
            <div class="container">
              <h4 class="center">
                <span class="teal-text">Photo Gallery</span>
              </h4>
              <div class="row">
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/b8.jpeg' %}" alt="">
                </div>
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" src="{% static 'kgc/img/b9.jpeg' %}" alt="">
                </div>
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" src="{% static 'kgc/img/b11.jpeg' %}" alt="">
                </div>
              </div>
        
              <div class="row">
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b12.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b13.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b14.jpg' %}" alt="">
                </div>
              </div>
      
              <div class="row">
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/b15.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b16.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b17.jpg' %}" alt="">
                  </div>
                </div>
      
      
      
              <div class="row">
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/b18.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b19.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/b20.jpg' %}" alt="">
                  </div>
                </div>
            </div>
          </section>
      
{% endblock content %}
