{% extends "kgc/base.html" %}
{% block content %}
{% load static %}
    <!-- slider section -->
    <section class="slider">
        <ul class="slides">
        
        <li>
            <img src="{% static 'kgc/img/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg' %}" />
            
        </li>
        <li>
            <img src="{% static 'kgc/img/samantha-sophia-NaWKMlp3tVs-unsplash.jpg' %}" />
            
            </li>
        <li>
            <img src="{% static 'kgc/img/hannah-busing-G-_L3Eqkqmc-unsplash.jpg' %}" />
            
            </li>
        </ul>
    </section>
    <section class="section section-gallery scrollspy" id="gallery">
            <div class="container">
              <h4 class="center">
                <span class="teal-text">Photo Gallery</span>
              </h4>
              <div class="row">
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/nina-strehl-Ds0ZIA5gzc4-unsplash.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" src="{% static 'kgc/img/jhudel-baguio-PxdeUhXlXaI-unsplash.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                  <img class="materialboxed responsive-img" src="{% static 'kgc/img/andrew-arrol-b5AkuWDygDo-unsplash.jpg' %}" alt="">
                </div>
              </div>
        
              <div class="row">
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/andrew-arrol-b5AkuWDygDo-unsplash.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/sandro-gonzalez-pUtS-rsZz0o-unsplash.jpg' %}" alt="">
                </div>
                <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/vince-fleming-afrNpD1wKZU-unsplash.jpg' %}" alt="">
                </div>
              </div>
      
              <div class="row">
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/hannah-busing-G-_L3Eqkqmc-unsplash.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/anna-earl-hawLFtFv6xk-unsplash.jpg' %}" alt="">
                  </div>
                </div>
      
      
      
              <div class="row">
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" height="100" src="{% static 'kgc/img/samantha-borges-EeS69TTPQ18-unsplash.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/ben-white-oUiTrFhnEkE-unsplash.jpg' %}" alt="">
                  </div>
                  <div class="col s12 m4">
                    <img class="materialboxed responsive-img" src="{% static 'kgc/img/tomsadventures-8__esxuic9Q-unsplash.jpg' %}" alt="">
                  </div>
                </div>
            </div>
          </section>
      
{% endblock content %}
