{% extends "kgc/base.html" %}
{% block content %}
{% load static %}
    <!-- slider section -->
    <section class="slider">
        <ul class="slides">
        
        <li>
            <img src="{% static 'kgc/img/b1.jpg' %}" />
            
        </li>
        <li>
            <img src="{% static 'kgc/img/ch8.jpg' %}" />
            
            </li>
        <li>
            <img src="{% static 'kgc/img/ch9.jpg' %}" />
            
            </li>
        </ul>
    </section>
    <!-- welcome-hero-container -->
    <section class="section scrollspy" id="welcome-hero">
        <div class="container">
        <div class="row">
            
            <p class="sermons-paragraph">
                The church believes all Scriptures are God inspired and are useful for teaching, rebuking, correcting and training in righteousness so that the servant of God may be thoroughly equip the members for every good work (2 Timothy 3:16)
            </p>
        </div>
        </div>
    </section>
    <!-- worship hero container -->
    <section class="section scrollspy" id="worship-hero">
        <div class="container">
        <div class="row">
            <div class="worship-hero-body">
            <h2>sunday Worship services</h2>
            <p>
                GOA holds its services every Sunday from 12:00 PM to 2 PM and is followed by the sharing of snacks offered by the church members. This creates a forum to socialize with each another and to share information.
            </p>
                <div class="time">
                <p style="text-align: center;"><span style="font-size: 20pt;"><strong>The GOA church address</strong></span></p><p style="text-align: center;">CCAST STREET</p><p style="text-align: center;">UNIVERSITY OF BAMENDA</p><p style="text-align: center;">NAHPI</p><p style="text-align: center;"><span style="font-size: 20pt;">
            </div>
            </div>  
            <!-- <div class="worship-hero-footer">
                <span>916 N. Jupiter Rd Garland, TX 75042</span> <a class="button red" href="https://goo.gl/maps/wwA16eswLUL2">Map It</a>
            </div> -->
        </div>
        </div>
    </section>
        
    <!-- connect section -->
    <section class="section section-search connect-hero wide" id="connect-hero"> 
        <div class="container-fluid">
        <div class="row">
            <div class="section-bg parallax" style="background-image: url('/static/kgc/img/ch15.jpg'); background-position: center -8px;">
            </div>
            <div class="connect-container tiles">
                <h2 class="whites">Our church ministries</h2>
                <p class="sermons-paragraph white-text">No matter your age or life-stage, there's always a way to get plugged in one of our ministries. Join us on Sundays throughout the year.</p>
                
                <div class="col s12 m4">
                    <div class="card medium card-hero-img">
                        <div class="card-image card-hero-img">
                        <img src="{% static 'kgc/img/yt-1.jpg' %}">
                        </div>
                        <div class="card-contentcard-hero card-hero">
                        <p>Youth ministry</p>
                        <p class="align-center"><a class="btn btn-color" href="{% url 'youths' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                        </div>
                    </div>
                    </div>
            
                    <div class="col s12 m4">
                        <div class="card medium card-hero-img">
                        <div class="card-image card-hero-img">
                            <img src="{% static 'kgc/img/pr-1.jpg' %}">
                        </div>
                        <div class="card-contentcard-hero card-hero">
                            <p>Praise and worship</p>
                            <p><a class="btn btn-color" href="{% url 'praise_and_worship'%}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card medium card-hero-img">
                        <div class="card-image card-hero-img">
                            <img src="{% static 'kgc/img/ch-1.jpg' %}">
                        </div>
                        <div class="card-contentcard-hero card-hero">
                            <p>Church School Ministry</p>
                            <p><a class="btn btn-color" href="{% url 'children_ministry' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                        </div>
                        </div>
                    </div>
            
                
            </div>
            </div>
        </div>
    </div>
    </section>

    <!-- pastor profile section-->
    <section class="section wide sermons" id="pastor">
        <div class="container">
        <div class="row">
            <div class="section-bg parallax" style="background-image: url('/static/kgc/img/hb.jpg'); background-position: center 7.1px;"></div>

            <div class="connect-container">
                <div class="sermons-body">
                    <h2>Sermons</h2>
                    <div class="media-info">
                    <p style="text-align: center;">MOST RECENT:</p><p style="text-align: center;">Luke 1:37</p>
                    <p><a class="btn btn-color" href="{% url 'sermons' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                    </div>
                </div>
                </div>
        </div>
        </div>
    </section>
{% endblock content %}
