{% extends "kgc/base.html" %}
{% block content %}
{% load static %}
<section class="ministry connect-hero wide" id="profile-banner">
        <div class="container">
            <div class="row">
                <div class="section-bg parallax" style="background-image: url('/static/kgc/img/b1.jpg'); background-position: center -8px;"></div>
                <div class="page-title">	        
                       <h1 class="tp-blog-title" style="font-family: 'Permanent Marker', cursive;">Church Ministries</h1>          
                  </div>
            </div>
        </div>
    </section>
    
     <!-- connect section -->
     <section class="section section-search connect-hero wide" id="connect-hero"> 
          <div class="container-fluid">
            <div class="row">
               <div class="section-bg parallax" style="background-image: url('/static/kgc/img/ch15.jpg'); background-position: center -8px;"></div>
               <div class="connect-container tiles">
                   <h2 class="whites">Our Church Ministries</h2>
                      <div class="col s12 m4">
                          <div class="mini-cols">
                              <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                            <p>Praise and Worship</p>
                            <p><a class="btn btn-color" href="{% url 'praise_and_worship'%}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                           </div> 
                      </div>
                      <div class="col s12 m4">
                              <div class="mini-cols">
                                <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                                <p>Church School</p>
                                <p><a class="btn btn-color" href="{% url 'children_ministry' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                               </div> 
                        </div>
                          <div class="col s12 m4">
                                  <div class="mini-cols">
                                    <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                                    <p>KGC Women</p>
                                    <p><a class="btn btn-color" href="{% url 'women_ministry' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                                   </div> 
                              </div>
                        
  
                            <hr class="horizonta-line"/>
                           
  
                  <div class="col s12 m4">
                          <div class="mini-cols">
                            <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                            <p>Youth</p>
                            <p><a class="btn btn-color" href="{% url 'youths' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                           </div> 
                      </div>
                      <div class="col s12 m4">
                              <div class="mini-cols">
                                <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                                <p>Men</p>
                                <p><a class="btn btn-color" href="{% url 'men' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                               </div> 
                          </div>
                          <div class="col s12 m4">
                                  <div class="mini-cols">
                                    <img src="{% static 'kgc/img/icon-1.png' %}" alt='ministries'>
                                    <p>Intercessory</p>
                                    <p><a class="btn btn-color" href="{% url 'intercessory' %}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                           </div> 
                      </div>
             </div>
             </div>
         </div>
       </div>
       </section>
    
{% endblock content %}
